.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0,; } to { opacity:1; } }

ul > li {
  list-style: none;
}

.item--style-1 {
  float: right;
  position: absolute;
  right: -30px;
  top: 10vh;
}

#popupbox {
  display: none;
  position: absolute;
    width: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    top: 17vh;
    transform: translate(-50%);
    left: 50%;
    min-width: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
  }

#close {
  height: 12px;
  padding: 12px;
  float: right;
  }

  .popuptext {
    padding: 20px;
  }

.menu-bar {
    height: 34px;
}

.menu-bar p {
  display: block;
    float: left;
    width: 80%;
    padding: 7px;
}

#me {
  width: 120px;
  margin: auto;
}

li {
  float: right;
}

.background-cell {
  width: 100vw;
    height: 42px;
    position: absolute;
    top: -3px;
    /* border: 2px solid #3d3d3d; */
    left: -2px;
    padding: 0;
    z-index: -1;
    /* background-color: white; */
}

ul {
  margin: 8px;
  padding: 0;
}

body {
  background-size: 18px 18px;
    /* background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px); */
  overflow: hidden;
  margin: 0;
  background-color: rgb(225, 204, 190);
}

header {
  margin: 0;
  margin-top: 0px;
  margin-right: 0;
}

.header-right {
  text-align: right;
  font-family: avenir;
  margin: 0;
  margin-right: -8px;
}

.active {
  padding: 12px 24px 12px 24px;
  color: #3D3D3D;
  font-weight: 500;
  margin-right: -2px;
  text-decoration: none;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fff; */
}
.active:hover {
  transition: all 0.3s;
  background-color: #5A8FFF;
  color: #fff;
}


.textContainer {
  text-align: left;
    font-family: 'avenir';
    color: #3D3D3D;
    /* width: 490px; */
    margin-right: 10px;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    -webkit-animation: anim 3s ease-in;
    margin: 0 0 0 4vw;
    /* background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11); */
    padding-bottom: 50px;
}

#below {
  padding: 33px;

}

#button {
  display: none;
}

#Demo1 {
  display: block;
}

.flex-center {
  height: 100vh;
  width: 100vh;
}

.logo {
  width: 60px;
  opacity: 0.8;
  margin: 4px 4px 10px -1px;
}

h1 {
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.4em;
  margin: 0;
  padding-bottom: 10px;
}

.designer {
    overflow: hidden;
    animation: typing 3.5s steps(15, end), blinkcaret .5s step-end infinite;
    white-space: nowrap;
      border-right: .1em solid black;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinkcaret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

h2 {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 6px;
  font-family: 'Work Sans';
}

p {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 20px;
  font-family: 'avenir';
  line-height: 22px;
}

#contactME {
  padding: 10px 15px;
  border-radius: 12px;
  border: 2px solid #5A8FFF;
  background-color: #fff;
  color: #5A8FFF;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
}

.graphic {
  position: absolute;
  top: 17vh;
  left: 3vw;
  width: 300px;
}

.graphicTwo {
  position: absolute;
  bottom: 7vh;
  right: 3vw;
  width: 300px
}

#path {
  position: fixed;
  z-index: -1;
  right: 0;
  top: 0;
  -webkit-animation: float 6s infinite linear;
}

#path1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: float 6s infinite linear;
  width: 110px;
}

#path2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wiggle:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}
@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

#oval {
  position: fixed;
  right: 0;
  transform: translateX(-50%);
  width: 600px;
  bottom: -300px;
  -webkit-animation: animOne 15s infinite linear;
  min-width: 320px;
  z-index: -2;
  opacity: 0.3;
}

.item__svg:hover path {
  d: path("M 189,80.37 C 243,66.12 307.3,87.28 330.9,124.1 389.3,156.6 417,211.2 418.1,263.4 419.1,305.7 401.8,355.6 368.5,379.1 298.8,428 159.2,426.4 117.6,386.3 65.4,335.3 68.55,220.3 99.5,160.5 119.7,113.6 152.6,89.85 189,80.37 Z");
}

@keyframes animOne {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-8px);
  }

  100% {
    transform: translatey(0px);
  }
}

/*
essential styles:
these make the slideshow work
*/
#slides{
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width:100%;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}


.controls{
    display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
    font-size: 40px;
    box-sizing: -box;
    background: #333;
    color: #fff;
    width: 500px;
    height: 400px;
    float: right;

  background-size: cover;
}

/* http://unrestrictedstock.com/wp-content/uploads/snowy-winter-vignette-bokeh-night-snow-falling-free-stock-photo.jpg */
.slide:nth-of-type(1){
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/4eaec169146451.5b76163554658.jpg');
}

/* http://www.dawghousedesignstudio.com/wp-content/uploads/2010/01/25/free-stock-photos-1.jpg */
.slide:nth-of-type(2){
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/4eaec169146451.5b76163554658.jpg');
}

/* http://www.stockfreeimages.com/static/homepage/waterfall-free-stock-photo-244915.jpg */
.slide:nth-of-type(3){
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/4eaec169146451.5b76163554658.jpg');
}

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
  opacity: 0;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
  width: 100%;
  height: 90%;
    top: 10%;
}

button #pause {
  display: none;
}

/* Safari 4.0 - 8.0 */
#div1 {-webkit-animation-timing-function: linear;}


/* Standard syntax */
#div1 {animation-timing-function: linear;}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 50px;}
}

/* Standard syntax */
@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 50px;}
}

#pause {
  opacity: 0;
  position: absolute;
}

#previous {
  width: 50%;
  height: 100vh;
  margin: 0;
  float: left;
  cursor: w-resize;
}

#next {
  width: 50%;
  height: 100vh;
  margin: 0;
  float: right;
  cursor: e-resize;
}















@media (max-width: 760px) {
  h1 {
    font-size: 1.8em;
    letter-spacing: 0;
    font-weight: normal
  }

  .item--style-1 {
    display: none;
  }

  #popup {
    display: none;
  }

  .textContainer {
    text-align: left;
    font-family: 'avenir';
    color: #3D3D3D;
    width: 90vw;
    margin-right: 10px;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    -webkit-animation: anim 3s ease-in;
    margin: 0 0 0 3vw;
    padding-bottom: 40px;
  }

  #oval {
    position: fixed;
    right: 0;
    transform: translateX(-50%);
    width: 500px;
    bottom: -300px;
    -webkit-animation: animOne 15s infinite linear;
    min-width: 320px;
    z-index: -2;
  }
}

@media (max-width: 532px) {



@media (max-width: 490px) {
  .active {
    padding: 12px 24px 12px 24px;
    color: #3D3D3D;
    font-weight: 500;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: -3px;
    text-decoration: none;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none;
    background-color: #Fff;
    width: 100vw;
    left: 0;
    text-align: center;
  }

  #popup {
    display: none;
  }

  #oval {
    position: fixed;
    right: -270px;
    transform: translateX(-50%);
    width: 500px;
    bottom: -300px;
    -webkit-animation: animOne 15s infinite linear;
    min-width: 320px;
    z-index: -2;
    opacity: 0.7;
  }

  .item--style-1 {
    display: none;
  }

  ul > li {
    list-style: none;
    display: flex;
  }

  li {
    float: none;
  }

  ul {
    margin: 0;
    padding: 0;
    padding: 40px 20px;
  }

  #Demo1 {
    display: none;
    /* background: white; */
    padding-top: 10px;
    height: 100vh;
  }

  #button {
    display: block;
    /* background: #fff; */
    width: 20px;
    height: 18px;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    padding: 14px;
  }

  #hide {
    display: none;
  }
	@  keyframes spin {
    from {
	 opacity: 0;
  }

  to {
    opacity: 1;
  }
}

	.header-right {
	  text-align: right;
	  font-family: avenir;
	  margin: 0;
	  z-index: 10;
    position: relative;
		-webkit-transform: translate3d(0,0,0);
	}

  .designer {
    font-size: 0.8em;
    font-weight: normal
  }
}
